<app-menu [telaAtiva]="telaAtual" (aoSelecionar)="mudarTela($event)"></app-menu>

<main class="conteudo-principal">
  
  @if (telaAtual === 'perfil-financeiro' || telaAtual === 'todas') {
    <app-perfil-financeiro></app-perfil-financeiro>
  }
  
  @if (telaAtual === 'dashboard' || telaAtual === 'todas') {
    <app-resumo></app-resumo>
  }
  
  @if (telaAtual === 'transação' || telaAtual === 'todas') {
    <div class="modulo-transacoes">
      <app-formulario #formComponent></app-formulario>
      <app-tabela (editar)="formComponent.preencherFormulario($event)"></app-tabela>
    </div>
  }

</main>