<div class="card-formulario">
  <h2>{{ editandoId() ? 'Editar Movimentação' : 'Nova Movimentação' }}</h2>
  
  <form (ngSubmit)="$event.preventDefault()">
    
    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select id="tipo" [ngModel]="tipo()" name="tipo" (change)="mudarTipo($event)">
        <option value="receita">Receita</option>
        <option value="despesa">Despesa</option>
        <option value="investimento">Investimento</option>
      </select>
    </div>

    <div class="form-group">
      <label for="categoria">Categoria</label>
      <div class="input-inline-group">
        
        @if (!criandoNovaCategoria()) {
          <select id="categoria" [(ngModel)]="categoria" name="categoria" class="input-flex-main">
            <option value="" disabled selected>Selecione uma categoria</option>
            @for (cat of categoriasFiltradas(); track cat.id) {
              <option [value]="cat.nome">{{ cat.nome }}</option>
            }
          </select>
          
          <button type="button" class="btn-add-rapido" (click)="alternarModoCategoria()" title="Cadastrar nova categoria">
            +
          </button>
        } @else {
          <input 
            type="text" 
            id="categoriaNova" 
            [(ngModel)]="categoria" 
            name="categoria" 
            placeholder="Nova categoria..."
            class="input-flex-main input-nova-animacao"
            autocomplete="off"
          />
          
          <button type="button" class="btn-add-rapido btn-voltar-selecao" (click)="alternarModoCategoria()" title="Voltar para a lista">
            ↩
          </button>
        }

      </div>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input 
        type="text" 
        id="descricao" 
        [(ngModel)]="descricao" 
        name="descricao" 
        placeholder="Ex: Supermercado"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="valor">Valor (R$)</label>
      <input 
        type="number" 
        id="valor" 
        [(ngModel)]="valor" 
        name="valor" 
        placeholder="0,00"
        step="0.01"
      />
    </div>

    <div class="form-group">
      <label for="data">Data</label>
      <input 
        type="date" 
        id="data" 
        [(ngModel)]="data" 
        name="data"
      />
    </div>

    <div class="botoes-container">
      <button 
        type="button" 
        class="btn-salvar" 
        [class.modo-edicao]="editandoId()" 
        (click)="salvar()"
      >
        {{ editandoId() ? 'Atualizar' : 'Adicionar' }}
      </button>

      @if (editandoId()) {
        <button type="button" class="btn-cancelar" (click)="limparFormulario()">
          Cancelar
        </button>
      }
    </div>

  </form>
</div>