<div class="container-resumo">
  <div class="card-resumo" 
       *ngFor="let item of listaResumo()"
       [ngClass]="{
         'card-positivo': item.label === 'Entrada' || (item.label === 'Saldo' && item.value >= 0), 
         'card-negativo': item.label === 'Gasto',
         'card-investimento': item.label === 'Investimento',
         'card-alerta': item.label === 'Saldo' && item.value < 0
       }">
    
    <p>{{ item.label }}</p>
    <span>{{ item.value | currency:'BRL' }}</span>
  </div>
</div>