<div class="filtro-container">
  <label for="filtro-mes">Filtrar por Mês:</label>
  <input 
    type="month" 
    id="filtro-mes" 
    [value]="mesSelecionado()" 
    (change)="onMesChange($event)" 
    class="input-mes"
  />
</div>

<div class="container-resumo">
  <div class="card-resumo" 
       *ngFor="let item of listaResumo()"
       [ngClass]="{
         'card-entrada': item.label === 'Entrada', 
         'card-gasto': item.label === 'Gasto',
         'card-investimento': item.label === 'Investimento',
         'card-saldo-positivo': item.label === 'Saldo' && item.value >= 0,
         'card-saldo-negativo': item.label === 'Saldo' && item.value < 0
       }"
       [style.order]="item.ordemMobile">
    
    <div class="card-header">
      <p>{{ item.label }}</p>
      <div class="card-icon">
        <span class="material-icons">{{ item.icone }}</span>
      </div>
    </div>
    
    <span class="card-valor">{{ item.value | currency:'BRL' }}</span>
  </div>
</div>