<nav class="barra-menu">
  <h2 class="marca" (click)="navegarPara('todas')" style="cursor: pointer;">
    <mat-icon>account_balance</mat-icon>BlueBank
  </h2>

  <div class="menu-desktop">
    <button mat-button 
            *ngFor="let item of menuItems" 
            (click)="navegarPara(item.id)"
            [class.botao-ativo]="telaAtiva === item.id">
      <mat-icon>{{item.icon}}</mat-icon> {{item.label}}
    </button>
  </div>

  <button mat-icon-button 
          class="menu-mobile-trigger" 
          [matMenuTriggerFor]="menuMobile">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<mat-menu #menuMobile="matMenu">
  <button mat-menu-item (click)="navegarPara('todas')" [class.botao-ativo]="telaAtiva === 'todas'">
    <mat-icon>visibility</mat-icon>Mostrar Tudo
  </button>
  <hr class="divisor-menu" />
  <button mat-menu-item 
          *ngFor="let item of menuItems" 
          (click)="navegarPara(item.id)"
          [class.botao-ativo]="telaAtiva === item.id">
    <mat-icon>{{item.icon}}</mat-icon>{{item.label}}
  </button>  
</mat-menu>