
.barra-menu {
  display: flex;
  gap: 50px;
  padding: 10px 26px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px; /* Cantos arredondados na barra */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 80px;

}

/* Garante um espaçamento legal entre o ícone e o texto do botão */
.barra-menu button mat-icon {
  margin-right: 4px;
  
}

.marca{
  
  display: flex;
  left: 0;       /* Encosta na borda direita */
  top: 5%;       /* Começa no meio da altura da tela */
  
  /* Opcional: estilo para destacar */
  padding: 20px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  z-index: 1000;  /* Garante que fique acima de outros elementos */
}
