<nav class="barra-menu">
  <h2 class="marca">
    <mat-icon>account_balance</mat-icon>BlueBank
  </h2>

  <div class="menu-desktop">
    <button mat-button *ngFor="let item of menuItems" (click)="navegarPara(item.id)">
      <mat-icon>{{item.icon}}</mat-icon> {{item.label}}
    </button>
    
    <!-- Gatilho Desktop -->
    <button mat-button [matMenuTriggerFor]="submenuProjetos">
      <mat-icon>swap_horiz</mat-icon> Transações <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="menu-mobile-trigger" [matMenuTriggerFor]="menuMobile">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<!-- MENU MOBILE (Dropdown principal) -->
<mat-menu #menuMobile="matMenu">
  <button mat-menu-item *ngFor="let item of menuItems" (click)="navegarPara(item.id)">
    <mat-icon>{{item.icon}}</mat-icon>{{item.label}}
  </button>
  
  <!-- Gatilho Mobile que chama o MESMO submenu -->
  <button mat-menu-item [matMenuTriggerFor]="submenuProjetos">
    <mat-icon>swap_horiz</mat-icon>Transações
  </button>
</mat-menu>

<!-- DEFINIÇÃO DO SUBMENU (ÚNICA) -->
<mat-menu #submenuProjetos="matMenu">
  <button mat-menu-item (click)="navegarPara('lancamentos')">
    <mat-icon>rocket_launch</mat-icon> <span>Lançamentos</span>
  </button>
  <button mat-menu-item (click)="navegarPara('pesquisa')">
    <mat-icon>search</mat-icon> <span>Pesquisa</span>
  </button>
</mat-menu>